Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

s = pd.Series([4, 8, 15, 16, 23, 42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
s = pd.Series(my_list)
print(s)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [3]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [4]:
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(s)

df = pd.DataFrame({'A': [1, 2, 3, 4, 5], 'B': [6, 7, 8, 9, 10]})
print(df)

a    1
b    2
c    3
d    4
e    5
dtype: int64
   A   B
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions to manipulate data in a Pandas DataFrame include:

1) drop(): Drops specified labels from rows or columns.
2) dropna(): Drops rows or columns with missing values.
3) fillna(): Fills missing values with a specified value.
4) sort_values(): Sorts the DataFrame by values.
5) groupby(): Groups the DataFrame by one or more columns and performs aggregation operations.

In [5]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, None, 4, 5], 'B': [6, 7, 8, 9, 10]})
print(df)

df = df.dropna()
print(df)

     A   B
0  1.0   6
1  2.0   7
2  NaN   8
3  4.0   9
4  5.0  10
     A   B
0  1.0   6
1  2.0   7
3  4.0   9
4  5.0  10

Q6. Which of the following is mutable in nature 
Series, DataFrame, Panel?

All three - Series, DataFrame, and Panel - are mutable in nature. They can be modified after they are created.

Q7. Create a DataFrame using multiple Series. Explain with an example.

You can create a DataFrame using multiple Series by passing them as keyword arguments to the DataFrame() constructor.

In [7]:
import pandas as pd

s1 = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([6, 7, 8, 9, 10], index=['a', 'b', 'c', 'd', 'e'])

df = pd.DataFrame({'A': s1, 'B': s2})
print(df)

   A   B
a  1   6
b  2   7
c  3   8
d  4   9
e  5  10