Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. Databases are managed by Database Management Systems (DBMS), which provide a systematic way to create, retrieve, update, and manage data. They support storage and manipulation of data, allowing for efficient querying, data insertion, updates, and administration.

***SQL vs. NoSQL Databases***

SQL (Structured Query Language) Databases:

1) Structure:
SQL databases are relational, meaning they store data in tables with rows and columns.
They use a fixed schema, requiring predefined structures before data entry.

2) Language:
Use SQL for defining and manipulating data. SQL is a standardized language known for its declarative syntax.

3) ACID Compliance:
SQL databases are typically ACID compliant (Atomicity, Consistency, Isolation, Durability), ensuring reliable transactions.

4) Scalability:
Generally scale vertically (adding more power to the existing machine).

5) Examples:
MySQL, PostgreSQL, Oracle, Microsoft SQL Server.

***NoSQL (Not Only SQL) Databases:***

1) Structure:
NoSQL databases can be document-based, key-value pairs, wide-column stores, or graph databases.
They use a dynamic schema, allowing for flexible and unstructured data storage.

2) Language:
NoSQL databases use various query languages, depending on the type (e.g., JSON-like queries for document stores).

3) CAP Theorem:
NoSQL databases often adhere to the CAP theorem (Consistency, Availability, Partition Tolerance), sometimes sacrificing ACID properties for scalability and performance.

4) Scalability:
Generally scale horizontally (adding more machines to handle increased load).

5) Examples:
MongoDB (Document), Redis (Key-Value), Cassandra (Wide-Column), Neo4j (Graph).

*************Key Differences************
1) Schema:
SQL: Fixed schema, structured data.
NoSQL: Dynamic schema, flexible data models.

2) Transactions:
SQL: Strong ACID transactions.
NoSQL: May provide BASE (Basically Available, Soft state, Eventual consistency) properties.

3) Data Integrity:
SQL: High data integrity due to ACID compliance.
NoSQL: Focus on availability and partition tolerance, which can sometimes compromise consistency.

4) Flexibility:
SQL: Better suited for complex queries and transactions.
NoSQL: Better for large volumes of unstructured data and high-velocity operations.

5) Use Cases:
SQL: Traditional applications requiring complex queries, transactional data.
NoSQL: Big data, real-time web apps, distributed data stores.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a subset of SQL (Structured Query Language) used to define and manage database schemas. DDL statements are used to create, modify, and delete database structures, such as tables, indexes, and views. These operations affect the structure of the database rather than the data itself.

DDL Commands and Their Uses

1) CREATE:
Used to create a new database object, such as a table, index, or view.

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    DateOfBirth DATE,
    Position VARCHAR(50)
);
This command creates a new table named Employees with columns for employee ID, first name, last name, date of birth, and position.

2) DROP:
Used to delete an existing database object, such as a table, index, or view.

DROP TABLE Employees;
This command deletes the Employees table from the database. All data in the table will be lost.

3) ALTER:
Used to modify the structure of an existing database object, such as adding, deleting, or modifying columns in a table.

ALTER TABLE Employees ADD Email VARCHAR(100);
This command adds a new column named Email to the Employees table.

ALTER TABLE Employees DROP COLUMN DateOfBirth;
This command removes the DateOfBirth column from the Employees table.

4) TRUNCATE:

Used to remove all rows from a table without deleting the table itself. It is faster than the DELETE statement because it deallocates the data pages used by the table.

TRUNCATE TABLE Employees;
This command deletes all rows from the Employees table, but the table structure remains intact.

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

Data Manipulation Language (DML) is a subset of SQL (Structured Query Language) used for managing and manipulating data within a database. It includes commands that allow users to insert, update, delete, and retrieve data. The primary DML commands are:


1) INSERT

The INSERT statement is used to add new rows to a table.
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

Example:
Suppose we have a table called Employees with columns EmployeeID, FirstName, LastName, and Age.

INSERT INTO Employees (EmployeeID, FirstName, LastName, Age)
VALUES (1, 'John', 'Doe', 30);
This command inserts a new row into the Employees table with the values 1 for EmployeeID, John for FirstName, Doe for LastName, and 30 for Age.

2) UPDATE

The UPDATE statement is used to modify existing records in a table.
UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

Example:
Let's update the Age of the employee with EmployeeID 1 to 31.

UPDATE Employees
SET Age = 31
WHERE EmployeeID = 1;

This command updates the Age of the employee with EmployeeID 1 to 31 in the Employees table.

3) DELETE

The DELETE statement is used to remove existing records from a table.
DELETE FROM table_name
WHERE condition;

Example:
Let's delete the employee with EmployeeID 1 from the Employees table.
DELETE FROM Employees
WHERE EmployeeID = 1;

This command deletes the row where EmployeeID is 1 from the Employees table.

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a component of SQL used for performing queries on data within schema objects. The main purpose of DQL is to retrieve data from the database based on the query passed to it. The most important DQL command is SELECT, which allows retrieving data from one or more tables

The basic syntax for the SELECT statement is:

SELECT column1, column2, ...
FROM table_name
WHERE condition;

Here's an example of using the SELECT statement to retrieve the first name, last name and age of students older than 18 from the Student table:

SELECT Admno, Name, Age 
FROM Student
WHERE Age >= 18;

****************Some key points about the SELECT statement:***************

The * symbol can be used to select all columns from the table.
The DISTINCT keyword eliminates duplicate rows.
The WHERE clause specifies conditions to filter the retrieved rows.
Additional clauses like ORDER BY, GROUP BY, HAVING can be used for more advanced querie

Q5. Explain Primary Key and Foreign Key.

Primary Key

1) A primary key is a column or a set of columns that uniquely identifies each row in a table.
2) It must have a unique value for each row and cannot contain null values.
3) The primary key is used to ensure data integrity and provide a way to quickly locate specific records.
4) A table can have only one primary key, but that key can consist of multiple columns.

Foreign Key

1) A foreign key is a column or a set of columns that refers to the primary key of another table.
2) It establishes a link between two tables, allowing you to create relationships between them.
3) The foreign key in one table points to the primary key in another table, creating a relationship.
4) The foreign key can have duplicate values, as long as those values match the primary key in the referenced table.
5) Foreign keys help maintain data integrity by ensuring that related data in different tables is consistent.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

python code to connect to a MySQL database and explain the cursor() and execute() methods:

Connecting to MySQL Database in Python
To connect to a MySQL database using Python, you'll need to install the mysql-connector-python library. You can install it using pip:

In [1]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\15dha\appdata\roaming\python\python311\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\15dha\appdata\roaming\python\python311\site-packages (24.1.1)
Note: you may need to restart the kernel to use updated packages.

Here's an example code to connect to a MySQL database:

In [3]:
import mysql.connector as myConn

mydb = myConn.connect (host = "localhost",
                       user ="root",
                       password="*********",
                       database ="learncoding")

db_cursor=mydb.cursor()

# db_cursor.execute("create table Emp1(Roll int,EmpName varchar(20)) ")
# print("table is created !!")

db_cursor.execute("show tables")

for i in db_cursor:
    print(i)

('emp',)
('emp1',)

cursor(): Creates a cursor object that allows you to execute SQL queries and fetch results.
execute(): Executes the given SQL query or command.

Q7. Give the order of execution of SQL clauses in an SQL query.

This order ensures that the data is properly filtered, grouped, and sorted before being presented in the final result set. 

i)   FROM/JOIN: Determines the data of interest by identifying and joining the relevant tables.
ii)  WHERE: Filters out records that do not meet the specified conditions.
iii) GROUP BY: Groups the data based on values in one or more columns.
iv)  HAVING: Removes grouped records that don't meet the specified constraints.
v)   SELECT: Derives all desired columns and expressions.
vi)  ORDER BY: Sorts the derived values in ascending or descending order.
vii) LIMIT/OFFSET: Keeps or skips a specified number of rows.