Q1. List any five functions of the pandas library with execution.

five functions of the pandas library with execution:

In [1]:
# 1) read_csv(): Read a comma-separated values (csv) file into a DataFrame.

import pandas as pd
df = pd.read_csv('data.csv')
print(df.head()) 

# 2) head(): Return the first n rows of the DataFrame.
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3, 4, 5]})
print(df.head(3)) 

# 3) groupby(): Group the DataFrame by one or more columns and perform aggregation operations.
import pandas as pd
df = pd.DataFrame({'A': [1, 1, 2, 2, 3, 3], 'B': [10, 20, 30, 40, 50, 60]})
print(df.groupby('A')['B'].sum()) 

# 4) merge(): Merge two DataFrames based on a common column.
import pandas as pd
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [10, 20, 30]})
df2 = pd.DataFrame({'A': [1, 2, 3], 'C': [100, 200, 300]})
print(pd.merge(df1, df2, on='A'))  

# 5) pivot_table(): Create a pivot table from a DataFrame.
import pandas as pd
df = pd.DataFrame({'A': [1, 1, 2, 2, 3, 3], 'B': [10, 20, 30, 40, 50, 60], 'C': [100, 200, 300, 400, 500, 600]})
print(pd.pivot_table(df, values='C', index='A', columns='B'))

   Index      Customer Id First Name Last Name  \
0      1  DD37Cf93aecA6Dc     Sheryl    Baxter
1      2  1Ef7b82A4CAAD10    Preston    Lozano
2      3  6F94879bDAfE5a6        Roy     Berry
3      4  5Cef8BFA16c5e3c      Linda     Olsen
4      5  053d585Ab6b3159     Joanna    Bender

                           Company               City  \
0                  Rasmussen Group       East Leonard
1                      Vega-Gentry  East Jimmychester
2                    Murillo-Perry      Isabelborough
3  Dominguez, Mcmillan and Donovan         Bensonview
4         Martin, Lang and Andrade     West Priscilla

                      Country                 Phone 1                Phone 2  \
0                       Chile            229.077.5154       397.884.0519x718
1                    Djibouti              5153435776       686-620-1820x944
2         Antigua and Barbuda         +1-539-402-0259    (496)978-3969x58947
3          Dominican Republic  001-808-617-6467x12895        +1-813-324-8756
4  Slovakia (Slovak Republic)  001-234-203-0635x76146  001-199-446-3860x3486

                         Email Subscription Date                      Website
0     zunigavanessa@smith.info        2020-08-24   http://www.stephenson.com/
1              vmata@colon.com        2021-04-23        http://www.hobbs.com/
2          beckycarr@hogan.com        2020-03-25     http://www.lawrence.com/
3  stanleyblackwell@benson.org        2020-06-02   http://www.good-lyons.com/
4      colinalvarado@miles.net        2021-04-17  https://goodwin-ingram.com/
   A
0  1
1  2
2  3
A
1     30
2     70
3    110
Name: B, dtype: int64
   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
B     10     20     30     40     50     60
A
1  100.0  200.0    NaN    NaN    NaN    NaN
2    NaN    NaN  300.0  400.0    NaN    NaN
3    NaN    NaN    NaN    NaN  500.0  600.0

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [2]:
import pandas as pd

def sum_first_three_values(df):
    """
    Calculates and prints the sum of the first three values in the 'Values' column of the DataFrame df.
    
    Parameters:
    df (pd.DataFrame): DataFrame containing a 'Values' column.
    """
    # Check if 'Values' column exists and has at least three entries
    if 'Values' in df.columns and len(df['Values']) >= 3:
        # Calculate the sum of the first three values
        total_sum = df['Values'].iloc[:3].sum()
        print(f"The sum of the first three values is: {total_sum}")
    else:
        print("The 'Values' column does not exist or does not have enough entries.")

# Example usage:
# Creating a sample DataFrame
df = pd.DataFrame({
    'Values': [10, 20, 30, 40, 50]
})

# Calling the function
sum_first_three_values(df)

The sum of the first three values is: 60

In [3]:
import pandas as pd

def sum_first_three(df):
    return df['Values'].head(3).sum()

df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print(sum_first_three(df))  # output: 60

60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
import pandas as pd
def word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df

df = pd.DataFrame({'Text': ['hello world', 'this is a test', 'hello again']})
print(word_count(df))

             Text  Word_Count
0     hello world           2
1  this is a test           4
2     hello again           2

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() returns the total number of elements in the DataFrame, which is the product of the number of rows and columns.
DataFrame.shape() returns a tuple containing the number of rows and columns in the DataFrame.

For example, if a DataFrame has 3 rows and 4 columns, DataFrame.size() would return 12 (3 x 4), and DataFrame.shape() would return (3, 4).

Q6. Which function of pandas do we use to read an excel file?

We use the read_excel() function to read an Excel file.

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [5]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com', 'bob.jones@example.com']})
print(extract_username(df))

                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith
2   bob.jones@example.com   bob.jones

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2

The function should return a new DataFrame that contains only the selected rows

In [6]:
import pandas as pd

def select_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

# Example usage
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
result = select_rows(df)
print(result)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [7]:
import pandas as pd

def calculate_stats(df):
    """
    Calculate the mean, median, and standard deviation of the values in the 'Values' column.

    Parameters:
        df (Pandas DataFrame): DataFrame with a column named 'Values'

    Returns:
        A dictionary with the mean, median, and standard deviation as values
    """
    values = df['Values']
    mean = values.mean()
    median = values.median()
    std_dev = values.std()
    return {'mean': mean, 'median': median, 'std_dev': std_dev}

df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})
stats = calculate_stats(df)
print(stats)  # Output: {'mean': 3.0, 'median': 3.0, 'std_dev': 1.58113883046}

{'mean': 3.0, 'median': 3.0, 'std_dev': 1.5811388300841898}

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [8]:
import pandas as pd

def add_moving_average(df):
    """
    Adds a 'MovingAverage' column to the DataFrame df that contains the 7-day moving average of the 'Sales' column.
    
    Parameters:
    df (pd.DataFrame): DataFrame containing 'Sales' and 'Date' columns.
    
    Returns:
    pd.DataFrame: DataFrame with the new 'MovingAverage' column.
    """
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Sort the DataFrame by 'Date' to ensure correct order
    df = df.sort_values('Date')
    
    # Calculate the 7-day moving average of the 'Sales' column
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

# Example usage:
# Assuming df is your DataFrame with 'Sales' and 'Date' columns
df = pd.DataFrame({
    'Date': ['2024-08-25', '2024-08-26', '2024-08-27', '2024-08-28', '2024-08-29', 
             '2024-08-30', '2024-08-31', '2024-09-01'],
    'Sales': [100, 200, 150, 300, 250, 400, 350, 500]
})

df = add_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2024-08-25    100     100.000000
1 2024-08-26    200     150.000000
2 2024-08-27    150     150.000000
3 2024-08-28    300     187.500000
4 2024-08-29    250     200.000000
5 2024-08-30    400     233.333333
6 2024-08-31    350     250.000000
7 2024-09-01    500     307.142857

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.

For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [9]:
import pandas as pd

def add_weekday(df):
    """
    Adds a 'Weekday' column to the DataFrame df that contains the weekday name for each date in the 'Date' column.
    
    Parameters:
    df (pd.DataFrame): DataFrame containing a 'Date' column.
    
    Returns:
    pd.DataFrame: DataFrame with the new 'Weekday' column.
    """
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Create a new column 'Weekday' with the weekday name
    df['Weekday'] = df['Date'].dt.day_name()
    
    return df

# Example usage:
# Assuming df is your DataFrame with a 'Date' column
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
})

df = add_weekday(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [10]:
import pandas as pd

def filter_dates(df):
    """
    Selects all rows from the DataFrame df where the 'Date' column is between '2023-01-01' and '2023-01-31'.
    
    Parameters:
    df (pd.DataFrame): DataFrame containing a 'Date' column with timestamps.
    
    Returns:
    pd.DataFrame: Filtered DataFrame with rows within the specified date range.
    """
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Define the date range
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    # Filter the DataFrame for dates within the specified range
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return filtered_df

# Example usage:
# Assuming df is your DataFrame with a 'Date' column
df = pd.DataFrame({
    'Date': ['2023-01-01 10:00:00', '2023-01-15 12:30:00', '2023-02-01 09:00:00', '2023-01-31 15:45:00', '2023-02-05 10:00:00'],
    'Sales': [100, 200, 300, 400, 500]
})

filtered_df = filter_dates(df)
print(filtered_df)

                 Date  Sales
0 2023-01-01 10:00:00    100
1 2023-01-15 12:30:00    200

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [11]:
import pandas as pd

# Creating a simple DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}

df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35